In [1]:
import numpy as np
import pandas as pd

In [36]:
dates = pd.date_range('20190909', periods=6)
dates

DatetimeIndex(['2019-09-09', '2019-09-10', '2019-09-11', '2019-09-12',
               '2019-09-13', '2019-09-14'],
              dtype='datetime64[ns]', freq='D')

In [6]:
df = pd.DataFrame(np.random.randn(6, 4), index=d, columns=list('ABCD'))
df

                   A         B         C         D
2019-09-09  0.918923 -1.085372 -2.807729 -0.525705
2019-09-10  0.971745 -0.159099  0.432294 -1.146470
2019-09-11  2.374554  0.156285 -0.871206 -0.967473
2019-09-12  0.148116  1.349779  1.840475 -1.153948
2019-09-13  0.237009  0.606982 -1.147536 -0.100789
2019-09-14  2.677144 -0.120434 -0.100014  1.076644

In [19]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2019-09-09 -0.525705 -2.807729 -1.085372  0.918923
2019-09-10 -1.146470  0.432294 -0.159099  0.971745
2019-09-11 -0.967473 -0.871206  0.156285  2.374554
2019-09-12 -1.153948  1.840475  1.349779  0.148116
2019-09-13 -0.100789 -1.147536  0.606982  0.237009
2019-09-14  1.076644 -0.100014 -0.120434  2.677144

In [21]:
df.sort_values(by='B')

                   A         B         C         D
2019-09-09  0.918923 -1.085372 -2.807729 -0.525705
2019-09-10  0.971745 -0.159099  0.432294 -1.146470
2019-09-14  2.677144 -0.120434 -0.100014  1.076644
2019-09-11  2.374554  0.156285 -0.871206 -0.967473
2019-09-13  0.237009  0.606982 -1.147536 -0.100789
2019-09-12  0.148116  1.349779  1.840475 -1.153948

In [38]:
df

                   A         B         C         D
2019-09-09  0.918923 -1.085372 -2.807729 -0.525705
2019-09-10  0.971745 -0.159099  0.432294 -1.146470
2019-09-11  2.374554  0.156285 -0.871206 -0.967473
2019-09-12  0.148116  1.349779  1.840475 -1.153948
2019-09-13  0.237009  0.606982 -1.147536 -0.100789
2019-09-14  2.677144 -0.120434 -0.100014  1.076644

In [51]:
df.iat[0,0]

0.9189228800059172